<html>
<head>
<title>Mailroom</title>
</head>
<body>
	<h1>Donations</h1>
	<h2>{% block subtitle %} {% endblock subtitle %}</h2>
	<nav class="menu">
		<ul>
			<a href="{{url_for('all')}}">Show Donations</a>
			<a href="{{url_for('add')}}">Add Donations</a>
		</ul>
	</nav>
	{% block content %} {% endblock content %}
</body>
</html>
