{% extends 'base.jinja2' %}

{% block subtitle %}Input New Donation{% endblock subtitle %}

{% block content %}
<ul>
    <form method="POST">
        <label for="Donor Name">Donor Name: </label><input type="string" id="Donor_Name" name="Donor_Name">
        <label for="Donation Amount">Donation Amount: </label><input type="number" id="Amount" name="Amount">
        <input type="submit" value="Submit Entry!">
    </form>
</ul>
{% endblock content %}
